/* font-family: 'Ubuntu', sans-serif;
font-family: 'Montserrat', sans-serif; */

body {
  font-family: 'Montserrat', sans-serif;
  text-align: center;
}

h1, h2, h3, h4, h5, h6 { font-weight: 800; }

p { color: #8f8f8f; }


/* Heading */
.big-heading {
  font-size: 3.5rem;
  font-weight: 900;
  line-height: 1.5;
}

.section-heading {
  font-size: 3rem;
  line-height: 1.5;
}


/* Containers */
.container-fluid { padding: 7% 15%; }


/* Sections */
.colored-section {
  background:linear-gradient(262deg, #ff7854, #fd267d);
  color: #fff;
}

.white-section { background: #fff; }


/* Navigation Bar */
.navbar { padding: 0 0 4.5rem 0; }

.navbar-brand {
  font-family: 'Ubuntu', sans-serif;
  font-size: 2rem;
  font-weight: bold;
}

.nav-item { padding: 0 1.13rem; }

.nav-link { font-size: 1.2rem; }


/* Download Buttons */
.btn-download { margin: 5% 3% 5% 0; }


/* Title Section */
#title .container-fluid {
  padding: 3% 15% 7% 15%;
  text-align: left;
}

.title-img {
  position: absolute;
  right: 30%;
  width: 60%;
  transform: rotate(25deg);
}


/* Features Section */
#features {
  position: relative;
  /* z-index: 1; */
}

.feature-title { font-size: 1.5rem; }

.feature-box { padding: 4.5%; }

.icon {
  margin-bottom: 1rem;
  color: #ff7854;
}

.icon:hover { color: #fd267d; }


/* Testimonial Section */
#testimonials { background: #ff7854; }

.testimonial-heading {
  font-size: 3rem;
  line-height: 1.5;
}

.testimonial-img {
  width: 10%;
  margin: 1.25rem;
  border-radius: 50%;
}

#press {
  padding-bottom: 3%;
  background: #ff7854;
}

.press-logo {
  width: 15%;
  margin: 1.25rem 1.25rem 3.125rem 1.25rem;
}


/* Price Section */
#price {
  padding: 6.25rem;
}

.price-heading {
  font-size: 3rem;
  line-height: 1.5;
}

.price-column { padding: 3% 2%; }


/* Footer Section */

#footer a {
  color: #8f8f8f;
}

#footer a:hover,
.footer-icon:hover {
  color: #fd267d;
  text-decoration: none;
}

.footer-icon {
  margin: 1.2rem .6rem;
  color: #000;
}



/* Media Queries */
@media (max-width: 1028px) {
  #title .container-fluid {
    text-align: center;
  }

  .title-img {
    position: static;
    transform: rotate(0);
  }
}